html {
  position: static;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.left-container {
  width: 10vw;
}

.center-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.right-container {
  width: 0;
}

h1 {
  margin: 0.3em;
  font-size: calc(1em + 0.5vw);
}

p {
  margin: 0.3em;
  font-size: calc(0.5em + 0.5vw);
  font-weight: 700;
}

hr {
  color: gray;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.item-title {
  align-items: center;
  width: 90%;
}

.item-input {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.item-body {
  display: flex;
  max-height: 0;
  width: 100%;
  object-fit: contain;
  transition: max-height 0.7s ease-in-out;
}

.item-input:checked ~ .item-body {
  max-height: 20em;
  transition: max-height 0.7s ease-in-out;
}

.plus {
  width: 0.7em;
  height: 0.7em;
  margin: calc(0.2em + 0.2vw);
  transition: transform 0.5s ease-in-out;
}

.item-input:checked ~ .plus {
  transform: rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 800px){

  .left-container {
    width: 20vw;
  }
  
  .center-container {
    width: 60vw;
  }
}

@media (min-width: 1200px){

  .left-container {
    width: 30vw;
  }
  
  .center-container {
    width: 40vw;
  }
}

@media (hover: hover) {
  .item-title {
    color: rgb(0, 150, 207);
  }
  
  .plus {
    visibility: hidden;
  }
  
  .center-container:hover .plus {
    visibility: visible;
  }
  
  .center-container:hover .item-title {
    color: black;
  }

  .container:hover .item-body{
    max-height: 20em;
    transition: max-height 0.7s ease-in-out;
  }

  .container:hover .plus {
    transform: rotate(45deg);
    transition: transform 0.5s ease-in-out;
  }
}