* {
  position: static;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.left-container {
  width: 10%;
}

.center-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.right-container {
  width: 10%;
}

hr {
  color: gray;
  width: 100%;
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.item-title {
  align-items: center;
  width: 90%;
  color: rgb(0, 150, 207);
}

.item-input {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.item-body {
  display: flex;
  max-height: 0;
  width: 100%;
  object-fit: contain;
  transition: max-height 0.7s ease-in-out;
}

.container:hover .item-body,
.item-input:checked ~ .item-body {
  max-height: 50em;
  transition: max-height 0.7s ease-in-out;
}

.plus {
  background-image: url(assets/svg/plus.svg);
  background-size: cover;
  visibility: hidden;
  width: 0.7em;
  height: 0.7em;
  transition: transform 0.5s ease-in-out;
}

.container:hover .plus,
.item-input:checked ~ .plus {
  transform: rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

.center-container:hover .plus {
  visibility: visible;
}

.center-container:hover .item-title {
  color: black;
}
